
[data-theme="light"] {
    --bg-gradient-0: rgb(114, 255, 128);
    --bg-gradient-1: hsl(191, 98%, 65%);
    --bg-gradient-2: hsl(47, 100%, 68%);
    --bg-gradient-3: hwb(225 36% 0%);
    --bg-gradient-4: hsl(305, 82%, 63%);
    --bg-calculator-0: rgb(98, 98, 98);
    --text:rgb(0, 0, 0);
    --number:#ffff;
    --background:rgba(0, 0, 0, 0.534);
    --primary:rgb(255, 255, 255);
    --display: #f9f9f9;
    --numberDisplay:#000;
}

[data-theme="dark"] {
    --bg-gradient-0: rgb(153, 0, 255);
    --bg-gradient-1: hsl(337, 100%, 33%);
    --bg-gradient-2: hsl(338, 100%, 14%);
    --bg-gradient-3: hsl(208, 97%, 17%);
    --bg-gradient-4: hsl(209, 100%, 12%);
    --bg-calculator-0: rgb(255, 255, 255);
    --text:rgb(255, 255, 255);
    --number:#000;
    --background:rgba(255, 255, 255, 0.83);
    --primary:#000;
    --display: #262626;
    --numberDisplay:rgb(255, 255, 255);
}

body{
    margin: 0;
    padding: 0;
    background: linear-gradient(45deg,var(--bg-gradient-0),var(--bg-gradient-1),var(--bg-gradient-2),var(--bg-gradient-3),var(--bg-gradient-4),var(--bg-gradient-0),var(--bg-gradient-1));
    background-size: 700% 700%;
    animation: degrade 25s ease-in infinite;
}

@keyframes degrade{
    0%{background-position: 0 50%;}
    50%{background-position: 100% 50%;}
    100%{background-position: 0 50%;}
}

.them{
    position: relative;
    margin-right: auto;
    top: -10px;
    left: -60px;
}

/* Estilos del switch */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--background);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--primary);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}
  
input:checked + .slider {
    background-color: var(--background);
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.container {
    display:flex;
    justify-content:center;
    align-items: center;
    height: 100vh;
}

.box{
    height: min-content;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.calculator {
    display: grid;
    grid-template-columns: repeat(4,75px);
    grid-template-rows:160px repeat(5,75px);
    padding: 15px;
    border-radius: 32px;   
    background: var(--bg-calculator-0);
    background-size: 700% 700%;
    box-shadow:10px 10px 5px 5px #00000033;
}

.displayconteiner{
    grid-column: 1/-1 ;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 1;
    border-radius: 20px;
}

.displayconteiner > *{
    grid-column: 1/-1;
    grid-row: 1/-1;
}

.display {
    color: var(--numberDisplay);
    padding: 16px;
    grid-column: 1/-1 ;
    display: flex;
    flex-direction: column;
    text-align: right;
    justify-content: space-between;
    word-break: break-all;
    border-radius: 20px;
    margin: 10px 10px 20px;
    box-shadow: 0px 0px 0px 10px #a2a2a233;
    background: var(--display);
    overflow-y: auto;
}

.carita{
    opacity: 50%;
    place-self: center;
}

button {
    color:var(--number);
    cursor: pointer;
    margin: 5px;
    padding: 0px;
    background-color: var(--bg-calculator-0);
    box-shadow: 5px 5px 10px -3px #00000040, 5px 5px 10px 3px #00000041;  
    border-radius: 32px;
    font-size: 1.5em;
    border: none;
}

button:active{
    background-color: rgb(223, 222, 222);

}

button:focus{
    outline: none;
}

.col-2{
    grid-column: span 2;
}

#valor-actual{
    font-size: 1.5em;
}

#valor-anterior{
    font-size: 2em;
}